<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>コメントリスト</title>
	<link rel="shortcut icon" th:href="@{to_lucky.ico}" type="image/x-icon">
	<link th:href="@{/css/commentList.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		<h1 class="title">阪神タイガース(2021ver) コメントリスト</h1>
		<div class="headerRight">
			<a href="/">ホームへ戻る</a>
		</div>
	</header>

	<div class="body">
		<table id="table">
			<tr>
				<th class="th1">名前</th>
				<th class="th2">選手ID</th>
				<th class="th3">選手情報</th>
				<th class="th4">作成日</th>
				<th class="th5">俺的コメント</th>
				<th class="th6">編集</th>
			</tr>
		</table>
	</div>

	<script type="text/javascript" th:src="@{/js/commentList.js}"></script>
</body>

</html>