<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>コメント編集</title>
    <link rel="shortcut icon" th:href="@{/to_lucky.ico}" type="image/x-icon" />
    <link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div class="conteiner">
        <h1>コメント編集</h1>
      </div>
    </header>
    <div class="main">
      <div class="conteiner">
        <h2>選手情報</h2>
        <td>
          <textarea id="context" name="context" cols="127" rows="15"></textarea>
        </td>
        <h2>俺的コメント</h2>
        <td>
          <textarea
            id="myContext"
            name="myContext"
            cols="127"
            rows="5"
          ></textarea>
        </td>
      </div>
      <div class="buttonclass">
        <button id="back">戻る</button>
        <button id="update">更新</button>
      </div>
    </div>
    <script type="text/javascript" th:src="@{/js/edit.js}"></script>
  </body>
</html>
